 @keyframes animacao {
 from{
    background: red;
   
 }
  to{
  background: green;
  border-radius: 300px;
 }
    
}
#caixa{
 background: red;
 height:300px;
 width: 300px;
 border: 1px;
 margin: 0;
 padding: 0;
 animation-name: animacao;
 animation-delay: 0;
 animation-duration: 5s ; 
}